@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');


.navBar{
  padding: 20px;
  display:flex;
  min-height: 10vh;
  background: black;
  color: white;
  opacity: 0.9;
  position: sticky;
}

.navLogo{

  text-decoration: none;
  color: white;

}

.littleNav{
  width: 100%;
  background: rgb(6, 99, 240);
}
.littleNavText{
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif; /* non-heading font*/

}

.vl {
  border-left: 2px solid rgb(49, 48, 48);
  height: 250px;
}

hr{
  width: 80%;
}

.priceStyle{
  margin-top: 30px;
  margin-right: 10px;
}

.btnStyle{

  margin-top: 20px;
  width: 250px

}

.priceAndButton{

  text-align: center;
}